<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/main_layout}">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
</head>
<body>
<section layout:fragment="content">
  <h3>List CourseDetailpayment</h3>
  <hr/>

  </form>
  <br/><br/>
  <table class="table table-bordered table-striped">
    <thead>
    <tr>
      <th>Course Id</th>

      <th>price</th>


      <th>userID</th>


    </tr>
    </thead>
    <tbody th:if="${paymentusersdetails != null}">
    <tr th:each="course: ${paymentusersdetails}">
      <td th:text="${course.courserId}"/>

      <td th:text="${course?.price}"/>

      <td th:text="${course?.userId}"/>







    </tbody>
  </table>
</section>

</body>
</html>