<!--<html xmlns="http://www.w3.org/1999/xhtml"-->
<!--      xmlns:th="http://www.thymeleaf.org"-->
<!--      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"-->
<!--      layout:decorate="~{testindex_template}">-->
<!--<head>-->
<!--  <meta charset="UTF-8">-->
<!--  <title>Student</title>-->
<!--  <link rel="stylesheet"-->
<!--        href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"-->
<!--        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"-->
<!--        crossorigin="anonymous" />-->
<!--</head>-->
<!--<section layout:fragment="content">-->

<!--  <form th:action="@{saveCourse}" th:object="${course}" method="POST">-->

<!--    <div class="col">-->
<!--      <div class="col-md-6 col-lg-6  col-sm-12">-->
<!--        <div class="form-group">-->
<!--          <label for="age">Input Id</label>-->
<!--          <input type="text" class="form-control" id="age" name="age" placeholder="Age">-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="col-md-6 col-lg-6 col-sm-12" >-->
<!--        <div class="form-group">-->
<!--          <label for="age">Input categoryid</label>-->
<!--          <input type="text" class="form-control" id="gender" name="gender"  placeholder="Gender">-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="col-md-6 col-lg-6 col-sm-12" >-->
<!--        <div class="form-group">-->
<!--          <label for="age">Input coursename</label>-->
<!--          <input type="text" class="form-control" id="coursename" name="name" placeholder="Name">-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="col-md-6 col-lg-6 col-sm-12" >-->
<!--        <div class="form-group">-->
<!--          <label for="age">Input duration</label>-->
<!--          <input type="text" class="form-control" id="duration" name="name" placeholder="Name">-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="col-md-6 col-lg-6 col-sm-12" >-->
<!--        <div class="form-group">-->
<!--          <label for="age">Input instrutorid</label>-->
<!--          <input type="text" class="form-control" id="instrutorid" name="name" placeholder="Name">-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="col-md-6 col-lg-6 col-sm-12" >-->
<!--        <div class="form-group">-->
<!--          <label for="age">Input price</label>-->
<!--          <input type="text" class="form-control" id="name" name="price" placeholder="Name">-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="col-md-12 col-lg-12">-->


<!--        <button type="submit" class="btn btn-primary">Save</button>-->

<!--      </div>-->


<!--    </div>-->
<!--  </form>-->
<!--</section>-->


