<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/main_layout}">
<head>
  <meta charset="UTF-8">
  <title>Student</title>
  <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
        crossorigin="anonymous" />
</head>





<section layout:fragment="content">

  <form th:action="@{/system/saveCourse}" th:object="${course}" method="POST">

    <div class="col">

      <div class="col-md-6 col-lg-6  col-sm-12">
        <div class="form-group">
          <label for="courseName">Input Course Name</label>
          <input type="text" class="form-control" id="courseName" name="courseName" placeholder="Course Name">
        </div>
      </div>

      <div class="col-md-6 col-lg-6 col-sm-12" >
        <div class="form-group">
          <label for="image">Input Image</label>
          <input type="text" class="form-control" id="image" name="image"  placeholder="Image">
        </div>
      </div>
      <div class="col-md-6 col-lg-6 col-sm-12" >
        <div class="form-group">
          <label for="limitDay">Input limitDay</label>
          <input type="text" class="form-control" id="limitDay" name="limitDay" placeholder="limitDay">
        </div>
      </div>
      <div class="col-md-6 col-lg-6 col-sm-12" >
        <div class="form-group">
          <label for="price">Input Price</label>
          <input type="text" class="form-control" id="price" name="price" placeholder="Price">
        </div>
      </div>
<!--      <div class="col-md-6 col-lg-6 col-sm-12" >-->
<!--        <div class="form-group">-->
<!--          <label for="createDate">Input CreateDate</label>-->
<!--          <input type="text" class="form-control" id="createDate" name="createDate" placeholder="CreateDate">-->
<!--        </div>-->
<!--      </div>-->





<!--      <div class="col-md-6 col-lg-6 col-sm-12" >-->
<!--        <div class="form-group">-->
<!--          <label for="updateDate">Input UpdateDate</label>-->
<!--          <input type="text" class="form-control" id="updateDate" name="updateDate" placeholder="UpdateDate">-->
<!--        </div>-->
<!--      </div>-->
      <div class="col-md-6 col-lg-6 col-sm-12" >
        <div class="form-group">
          <label for="user">Input User</label>
          <input type="text" class="form-control" id="user" name="user" placeholder="User">
        </div>
      </div>
      <div class="col-md-6 col-lg-6 col-sm-12" >
        <div class="form-group">
          <label for="status">Status</label>
          <input type="text" class="form-control" id="status" name="status" placeholder="Status">
        </div>
      </div>
      <div class="col-md-6 col-lg-6 col-sm-12" >
        <div class="form-group">
          <label for="teacherId">Input TeacherId</label>
          <input type="text" class="form-control" id="teacherId" name="teacherId" placeholder="TeacherId">
        </div>
      </div>


      <div class="col-md-12 col-lg-12">


        <button type="submit" class="btn btn-primary">Save</button>

      </div>


    </div>
  </form>
</section>


