<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{testindex_template}">
<head>
  <meta charset="UTF-8">
  <title>Student</title>
  <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
        crossorigin="anonymous" />
</head>
<section layout:fragment="content">

  <form th:action="@{/system/saveCourse}" th:object="${course}" method="POST">

    <div class="col">

      <div class="col-md-6 col-lg-6  col-sm-12">
        <div class="form-group">
          <label for="courseName">Input Course Name</label>
          <input type="text" class="form-control" id="courseName" name="courseName" placeholder="Title">
        </div>
      </div>
      <div class="col-md-6 col-lg-6  col-sm-12">
        <div class="form-group">
          <label for="title">Input Title</label>
          <input type="text" class="form-control" id="title" name="title" placeholder="Title">
        </div>
      </div>
      <div class="col-md-6 col-lg-6 col-sm-12" >
        <div class="form-group">
          <label for="introduce">Input Introduce</label>
          <input type="text" class="form-control" id="introduce" name="introduce"  placeholder="Introduce">
        </div>
      </div>
      <div class="col-md-6 col-lg-6 col-sm-12" >
        <div class="form-group">
          <label for="introduce">Input Image</label>
          <input type="text" class="form-control" id="image" name="image" placeholder="Image">
        </div>
      </div>
      <div class="col-md-12 col-lg-12">


        <button type="submit" class="btn btn-primary">Save</button>

      </div>


    </div>
  </form>
</section>


