<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/student-layout}">
<head>
  <title>HRMS</title>
  <link rel="stylesheet" th:href="@{/css/detail.css}" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">

</head>
<section layout:fragment="content">
  <!-- Bootstrap Static Header -->
  <div style="background: url(https://www.tutorialrepublic.com/lib/images/css-illustration.png)" class="jumbotron bg-cover text-white">
    <div class="container py-5 text-center">
<!--      <h1 class="display-4 font-weight-bold">Lession CSS</h1>-->
<!--      <p class="font-italic mb-0">Using simple jumbotron-style component, create a nice Bootstrap 4 header with a background image.</p>-->
<!--      <p class="font-italic">Snippe by-->
<!--        <a href="https://bootstrapious.com" class="text-white">-->
<!--          <u>Bootstrapious</u>-->
<!--        </a>-->
<!--      </p>-->
      <a href="#" role="button" class="btn btn-primary px-5">Learn Now</a>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="card card-margin">
          <div class="card-header no-border">
            <h5 class="card-title">CSS</h5>
          </div>
          <div class="card-body pt-0">
            <div class="widget-49">
              <div class="widget-49-title-wrapper">
                <div class="widget-49-date-primary">
                  <span class="widget-49-date-day">Unit</span>
                  <span class="widget-49-date-month">1</span>
                </div>
                <div class="widget-49-meeting-info">
                  <span class="widget-49-pro-title">HTML Tutorial</span>
                  <span class="widget-49-meeting-time">12:00 to 13.30 Hrs</span>
                </div>
              </div>
              <ol class="widget-49-meeting-points">
                <li class="widget-49-meeting-item"><span>HTML Introduction</span></li>
                <li class="widget-49-meeting-item"><span>HTML Editors</span></li>
                <li class="widget-49-meeting-item"><span>HTML Basic Examples</span></li>
              </ol>
              <div class="widget-49-meeting-action">
                <a href="#" class="btn btn-sm btn-flash-border-primary">View All</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card card-margin">
          <div class="card-header no-border">
            <h5 class="card-title">CSS</h5>
          </div>
          <div class="card-body pt-0">
            <div class="widget-49">
              <div class="widget-49-title-wrapper">
                <div class="widget-49-date-warning">
                  <span class="widget-49-date-day">Unit</span>
                  <span class="widget-49-date-month">2</span>
                </div>
                <div class="widget-49-meeting-info">
                  <span class="widget-49-pro-title">PRO-08235 Lexa Corp.</span>
                  <span class="widget-49-meeting-time">12:00 to 13.30 Hrs</span>
                </div>
              </div>
              <ol class="widget-49-meeting-points">
                <li class="widget-49-meeting-item"><span>Scheming module is removed</span></li>
                <li class="widget-49-meeting-item"><span>App design contract confirmed</span></li>
                <li class="widget-49-meeting-item"><span>Client request to send invoice</span></li>
              </ol>
              <div class="widget-49-meeting-action">
                <a href="#" class="btn btn-sm btn-flash-border-warning">View All</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card card-margin">
          <div class="card-header no-border">
            <h5 class="card-title">CSS</h5>
          </div>
          <div class="card-body pt-0">
            <div class="widget-49">
              <div class="widget-49-title-wrapper">
                <div class="widget-49-date-success">
                  <span class="widget-49-date-day">Unit</span>
                  <span class="widget-49-date-month">3</span>
                </div>
                <div class="widget-49-meeting-info">
                  <span class="widget-49-pro-title">PRO-027865 Opera module</span>
                  <span class="widget-49-meeting-time">12:00 to 13.30 Hrs</span>
                </div>
              </div>
              <ol class="widget-49-meeting-points">
                <li class="widget-49-meeting-item"><span>Scope is revised and updated</span></li>
                <li class="widget-49-meeting-item"><span>Time-line has been changed</span></li>
                <li class="widget-49-meeting-item"><span>Received approval to start wire-frame</span></li>
              </ol>
              <div class="widget-49-meeting-action">
                <a href="#" class="btn btn-sm btn-flash-border-success">View All</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>




</section>

</html>