<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/main_layout}">
<head>
    <meta charset="UTF-8">
    <title>Create Video</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.2/css/select2.min.css"/>
    <link rel="stylesheet" type="text/css"
          href="https://select2.github.io/select2-bootstrap-theme/css/select2-bootstrap.css">
    <link href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'>

    <script src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js'>
    </script>

    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'>
    </script>
</head>

<section layout:fragment="content">

    <form th:action="@{/system/saveCourse}" th:object="${course}" method="POST">
        <form>
            <div class="form-group">
                <label for="exampleFormControlInput1">Email address</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
            </div>
            <!--            <div class="form-group">-->
            <!--                <label for="exampleFormControlSelect1">Example select</label>-->
            <!--                <select class="form-control" id="exampleFormControlSelect1">-->
            <!--                    <option>1</option>-->
            <!--                    <option>2</option>-->
            <!--                    <option>3</option>-->
            <!--                    <option>4</option>-->
            <!--                    <option>5</option>-->
            <!--                </select>-->
            <!--            </div>-->
            <div class="form-group col-lg-12 col-md-12" >
                <label>Course</label>
                <!--                <select multiple class="form-control select2_multi" placeholder="Choose Course"-->
                <select  class="form-control select2_multi " placeholder="Choose Course"  id="course_id"
                         data-allow-clear="1" th:name="courseId" action="/action_page.php">
                    <option value="">- Please select  Course -</option>
                    <option   th:each="course: ${courses}" th:value="${course.id}"
                              th:text="${course.courseName}"  ></option>
                </select>
            </div>
            <div class="form-group col-lg-12 col-md-12" >
                <label>Course</label>
                <!--                <select multiple class="form-control select2_multi" placeholder="Choose Course"-->
                <select  class="form-control select2_multi " placeholder="Choose Course"  id="teacherId"
                         data-allow-clear="1" th:name="courseId" action="/action_page.php">
                    <option value="">- Please select  teacher -</option>
                    <option   th:each="row: ${teacherList}" th:value="${row.id}"
                              th:text="${row.teacherName}"  ></option>
                </select>
            </div>

            <div class="form-group">
                <label for="exampleFormControlSelect2">Example multiple select</label>
                <select multiple class="form-control" id="exampleFormControlSelect2">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
            </div>
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Example textarea</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
        </form>
    </form>
</section>

<script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.2/js/select2.min.js"></script>
