<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout-frontend/frontend-layout}">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>ZenBlog Bootstrap Template - Index</title>
  <meta content="" name="description">
  <meta content="" name="keywords">
</head>
<body>
<style>
  .color-red{
    color: #53cb19;
    font-weight: bolder;

  }
  .color-red:hover{


  }

</style>
<section layout:fragment="content">
  <div class="container " data-aos="fade-up">
    <div>
      <h3><b>Ativated Course</b></h3>
    </div>
    <div>
      <p >
        You need to <a  class="color-red " th:href="@{/login}" style="">LOG IN</a> to activate the course. If you
        don't have an account, please click here to <a class="color-red" th:href="@{/register}">REGISTER</a>
      </p>
    </div>
  </div>



</section>

</body>
</html>