<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
<head>

    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body th:fragment="header">
<nav class="navbar navbar-expand-lg navbar-light">
    <div class="full">
        <button type="button" id="sidebarCollapse" class="sidebar_toggle"><i class="fa fa-bars"></i></button>
        <div class="logo_section">

        </div>
        <div class="right_topbar">
            <div class="icon_info">
                <ul>
                    <li><a href="#"><i class="fa fa-bell-o"></i><span class="badge">2</span></a></li>
                    <li><a href="#"><i class="fa fa-question-circle"></i></a></li>
                    <li><a th:href="@{/}" target="_blank"><i class="fa fa-home" title="Go to home page"></i> </a></li>
                </ul>
                <ul class="user_profile_dd">
                    <li>
                        <a class="dropdown-toggle" data-toggle="dropdown"><img class="img-responsive rounded-circle" src="images/layout_img/user_img.jpg" alt="#" /><span class="name_user">John David</span></a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="profile.html">My Profile</a>
                            <a class="dropdown-item" href="settings.html">Settings</a>
                            <a class="dropdown-item" href="help.html">Help</a>
                            <a class="dropdown-item" href="#"><span>Log Out</span> <i class="fa fa-sign-out"></i></a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>

<!-- jQuery -->
<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{js/popper.min.js}"></script>
<script th:src="@{js/bootstrap.min.js}"></script>
<script th:src="@{js/animate.js}"></script>
<!-- select country -->
<script th:src="@{js/bootstrap-select.js}"></script>
<!-- owl carousel -->
<script th:src="@{js/owl.carousel.js}"></script>
<!-- chart js -->
<script th:src="@{js/Chart.min.js}"></script>
<script th:src="@{js/Chart.bundle.min.js}"></script>
<script th:src="@{js/utils.js}"></script>
<script th:src="@{js/analyser.js}"></script>
<!-- nice scrollbar -->
<script th:src="@{js/perfect-scrollbar.min.js}"></script>
<script>
    var ps = new PerfectScrollbar('#sidebar');
</script>
<!-- custom js -->
<script th:src="@{js/custom.js}"></script>
<script th:src="@{js/chart_custom_style1.js}"></script>

</body>
</html>