<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/main_layout}">
<head>
    <meta charset="UTF-8">
    <title>Student</title>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
          crossorigin="anonymous" />

    <script>
        function validateForm() {
            let x = document.forms["myForm"]["fname"].value;
            if (x == "") {
                alert("You have To fill all information");
                return false;
            }
        }
    </script>
</head>
<section layout:fragment="content">
    <form th:action="@{/system/saveEmployee}" th:object="${student}" name="myForm" onsubmit="return validateForm()" method="post">


        <legend class="w-auto px-2">Add Student</legend>
        <div class="col">
            <div class="col-md-6 col-lg-6  col-sm-12">
                <div class="form-group">
                    <label for="age">Input Age</label>
                    <input type="text" class="form-control" id="age"    name="fname"  placeholder="Age" oninput="this.value=this.value.replace(/[^0-9]/g, '')">
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-sm-12" >
                <div class="form-group">
                    <label for="age">Input Gender</label>
                    <input type="text" class="form-control" id="gender" name="fname"    placeholder="Gender">
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-sm-12" >
                <div class="form-group">
                    <label for="age">Input Name</label>
                    <input type="text" class="form-control" id="name" name="fname"  placeholder="Name">
                </div>
            </div>
            <div class="col-md-12 col-lg-12">


                <input type="submit" class="btn btn-primary" value="Submit">

            </div>


        </div>
    </form>
</section>

/////////////
<!--<head>-->
<!--    <script>-->
<!--        function validateForm() {-->
<!--            let x = document.forms["myForm"]["fname"].value;-->
<!--            if (x == "") {-->
<!--                alert("Name must be filled out");-->
<!--                return false;-->
<!--            }-->
<!--        }-->
<!--    </script>-->
<!--</head>-->

<!--<section layout:fragment="content">-->

<!--    <h2>JavaScript Validation</h2>-->

<!--    <form name="myForm" onsubmit="return validateForm()" method="post">-->
<!--        Name: <input type="text" name="fname">-->
<!--        <input type="submit" value="Submit">-->
<!--    </form>-->
<!--</section>-->



