<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
<head>
  <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css}" />

  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body th:fragment="footer">
<!-- ======= Footer ======= -->

  <div class="footer-content">
    <div class="container">

      <div class="row g-5">
        <div class="col-lg-4">
          <h3 class="footer-heading">About Us</h3>
          <p>ZeroToHero Center is an academy training center for training software professionals in
            cooperation with Korea International Cooperation Agency(KOICA) and Webcash in April, 2013 in Phnom Penh, Cambodia.
            From 2020, ZeroToHero Center has been become Global NGO,
            main sponsored by Webcash Group, to continue mission to train SW experts, to improve SW technologies and ICT Development in Cambodia.</p>

        </div>
        <div class="col-lg-4 col-lg-2">
          <h3 class="footer-heading">FOLLOW OUR FACEBOOK</h3>
         <a><img th:src="@{/front-end/assets/images/logo2.png}" ></a>
        </div>


        <div class="col-lg-4">
          <h3 class="footer-heading">Contact Us</h3>

          <ul class="footer-links footer-blog-entry list-unstyled">



            <li>
              <a href="single-post.html" class="d-flex align-items-center">
                <img style="border-radius: 50%;height: 50px" th:src="@{/front-end/assets/images/location.webp}" alt="" class="img-fluid me-3">
                <div>

                  <span>Address: #12, St 323, Sangkat Boeung Kak II, Khan Toul Kork, Phnom Penh, Cambodia.</span>
                </div>
              </a>
            </li>

            <li>
              <a href="single-post.html" class="d-flex align-items-center">
                <img style="border-radius: 50%;height: 50px" th:src="@{/front-end/assets/images/tel2.png}" alt="" class="img-fluid me-3">
                <div>
                  <div> <span>Tel: 012 998 919 (Khmer)</span></div>


                  <span>085 402 605 (Korean)</span>
                </div>
              </a>
            </li>
            <li>
              <a href="single-post.html" class="d-flex align-items-center">
                <img th:src="@{/front-end/assets/images/email1.png}" alt="" class="img-fluid me-3">
                <div>

                  <span>raksmeyvn@gmail.com</span>
                </div>
              </a>
            </li>

          </ul>

        </div>
      </div>
    </div>
  </div>

  <div class="footer-legal">
    <div class="container">

      <div class="row justify-content-between">
        <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
          <div class="copyright">
            2022 © ZeroToHero Center. All right reserved.
          </div>



        </div>

<!--        <div class="col-md-6">-->
<!--          <div class="social-links mb-3 mb-lg-0 text-center text-md-end">-->
<!--            <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>-->
<!--            <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>-->
<!--            <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>-->
<!--            <a href="#" class="google-plus"><i class="bi bi-skype"></i></a>-->
<!--            <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>-->
<!--          </div>-->

<!--        </div>-->

      </div>

    </div>
  </div>


<a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

</body>
</html>