<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
<head>

    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body th:fragment="header">
<div class="container-fluid container-xl d-flex align-items-center justify-content-between">

    <a href="index.html" class="logo d-flex align-items-center">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="assets/img/logo.png" alt=""> -->
        <a th:href="@{/}"><h2 >FromZeroToHero</h2></a>
    </a>

    <nav id="navbar" class="navbar">
        <ul>
            <li><a th:href="@{/}">Home</a></li>
            <li><a th:href="@{/activated}">Activated</a></li>


            <li  th:if="${#session.getAttribute('userSession') == null}">
                <a th:href="@{/login}"  >Login</a>
            </li>
            <li th:unless="${#session.getAttribute('userSession') == null}">
                <a th:href="@{/logout}" >Logout</a>
            </li>

            <li><a href="contact.html">Contact</a></li>
            <li><a th:href="test" th:text="${#session.getAttribute('userSession')?.name}"> </a></li>
<!--            <input type="text"  th:value="@{__${@urlUtil.doSomthing()}__}" name="test" />-->
        </ul>
    </nav><!-- .navbar -->

    <div class="position-relative">
        <a th:href="@{/updateProfile}" class="mx-2"><span >Profile</span></a>
        <a href="#" class="mx-2"><span class="bi-twitter"></span></a>
        <a href="#" class="mx-2"><span class="bi-instagram"></span></a>

        <a href="#" class="mx-2 js-search-open"><span class="bi-search"></span></a>
        <i class="bi bi-list mobile-nav-toggle"></i>

        <!-- ======= Search Form ======= -->
        <div class="search-form-wrap js-search-form-wrap">
            <form action="search-result.html" class="search-form">
                <span class="icon bi-search"></span>
                <input type="text" placeholder="Search" class="form-control">
                <button class="btn js-search-close"><span class="bi-x"></span></button>
            </form>
        </div><!-- End Search Form -->

    </div>

</div>

</body>
</html>