<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout-frontend/frontend-layout}">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <script th:src="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css}"></script>
    <script th:src="@{https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js}"></script>
    <script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.css}"></script>

    <title>ZenBlog Bootstrap Template - Index</title>
    <meta content="" name="description">
    <meta content="" name="keywords">
    <style>
        #header-card {
            background: url(https://images.unsplash.com/photo-1415795854641-f4a487a0fdc8?ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80) center center / cover no-repeat;
        }

        p {
            padding: 0;
            margin: 0;
        }

        .check-star {
            color: orange;
        }

        @import url("https://fonts.googleapis.com/css?family=Titillium+Web:400,400i,700&display=swap");
        @import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");

        *,
        *:before,
        *:after {
            box-sizing: border-box;
        }



        .text p::before {
            content: "";
            width: 50%;
            height: 100%;
            float: right;
            shape-outside: polygon(
                    2% 0%,
                    100% 0%,
                    100% 100%,
                    2% 100%,
                    50% 94%,
                    76.6% 82.7%,
                    94% 65.6%,
                    100% 50%,
                    94% 32.6%,
                    76.6% 17.3%,
                    50% 6%
            );
            shape-margin: 7%;
        }

        .quote-wrapper blockquote footer {
            width: 100%;
            position: absolute;
            bottom: 25px;
            font-size: 17px;
            text-align: center;
            font-style: italic;
            text-shadow: 0.5px 0.5px 1px rgba(0, 0, 0, 0.3);
        }

        .quote-wrapper::before {

            font-size: 270px;
            height: 82px;
            line-height: 0.78;
            line-height: 1;
            position: absolute;
            top: -48px;
            left: 0;
            z-index: 1;
            font-family: sans-serif, serif;
            color: #ccc;
            opacity: 0.9;
        }

        @media (min-width: 850px) {
            .quote-wrapper {
                width: 370px;
                height: 370px;
            }

            .quote-wrapper::before {
                font-size: 300px;
            }

            /*.text p {*/
            /*    font-size: 26px;*/
            /*}*/
            .quote-wrapper blockquote footer {
                bottom: 32px;
            }
        }

        /*THIS CSS IS NOT REQUIRED FOR CIRCULAR TEXT*/
        /*THIS CSS IS NOT REQUIRED FOR CIRCULAR TEXT*/



        .note a:hover {
            text-decoration: underline;
        }
        .container-counter{
            margin-top:100px;
        }

        .counter-box {
            display: block;
            background: #f6f6f6;
            padding: 40px 20px 37px;
            text-align: center
        }

        .counter-box p {
            margin: 5px 0 0;
            padding: 0;
            color: #909090;
            font-size: 18px;
            font-weight: 500
        }

        .counter-box i {
            font-size: 60px;
            margin: 0 0 15px;
            color: #d2d2d2
        }

        .counter {
            display: block;
            font-size: 32px;
            font-weight: 700;
            color: #666;
            line-height: 28px;

        }

        .counter-box{
            background: #3acf87;
        }

        .counter-box p,
        .counter-box i,
        .counter-box .counter {
            color: #fff
        }


    </style>
</head>
<body class="inner_page login">

<section layout:fragment="content">


    <!-- ======= Hero Slider Section ======= -->
    <section id="hero-slider" class="hero-slider">
        <div class="container-md" data-aos="fade-in">
            <div class="row">
                <div class="col-12">
                    <div class="swiper sliderFeaturedPosts">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <a th:href="single-post.html" class="img-bg d-flex align-items-end"
                                   th:style="|background-image: url(@{/front-end/assets/images/slide/HTML-Full-Form.jpg});|">
                                    <div class="img-bg-inner">

                                    </div>
                                </a>
                            </div>

                            <div class="swiper-slide">
                                <a href="single-post.html" class="img-bg d-flex align-items-end"
                                   th:style="|background-image: url(@{/front-end/assets/images/slide/CSS.png});|">
                                    <div class="img-bg-inner">

                                    </div>
                                </a>
                            </div>

                            <div class="swiper-slide">
                                <a href="single-post.html" class="img-bg d-flex align-items-end"
                                   th:style="|background-image: url(@{/front-end/assets/images/slide/Java.png});|">
                                    <div class="img-bg-inner">

                                    </div>
                                </a>
                            </div>

                            <div class="swiper-slide">
                                <a href="single-post.html" class="img-bg d-flex align-items-end"
                                   th:style="|background-image: url(@{/front-end/assets/images/slide/Python-Tutorial1.png});|">
                                    <div class="img-bg-inner">

                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="custom-swiper-button-next">
                            <span class="bi-chevron-right"></span>
                        </div>
                        <div class="custom-swiper-button-prev">
                            <span class="bi-chevron-left"></span>
                        </div>

                        <div class="swiper-pagination"></div>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- End Hero Slider Section -->


    <!-- ======= Post Grid Section ======= -->
    <section id="posts" class="posts">
        <div class="container" data-aos="fade-up">
            <div class="row g-5">
                <div class="col-lg-3" style="padding-right:0px !important;">
                    <div class="post-entry-1 lg">
                        <a th:href="@{/}"><img  th:src="@{/front-end/assets/images/logo2.png}" alt=""
                                                        class="img-fluid"></a>
                        <div class="post-meta"><span class="date"></span> <span class="mx-1"></span>
                            <span></span></div>
                        <h2><a href="single-post.html">99% Student After Finish Course Have Jop</a></h2>
                        <p class="mb-4 d-block">
                            We help you learn web programming to work after only 3 to 5 months instead of learning ineffectively. You get 24/7 support from
                            the instructor, study anytime, anywhere. Already have over 2,616 followers ( see list ) and good results, now it's your turn!
                        </p>



                    </div>

                </div>

                <div class="col-lg-9">

                    <section id="gallery">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-4 mb-4" th:each="course: ${courses}">
                                    <div class="card" style="height: 400px;">
                                        <img style="width: 248px;height: 196px" th:src="${course.image}"

                                             alt="" class="card-img-top">
                                        <div class="card-body" style="position: relative">
                                            <h5 class="card-title" style="font-weight: bold"
                                                th:text="${course.courseName}"></h5>
<!--                                            <p class="card-text" style="font-size: 16px;  text-align: justify; font-family: sans-serif"-->
<!--                                               th:text="${course.description}"></p>-->
                                            <p class="card-text"
                                               style="font-size: 16px; font-weight: bold;  text-align: left; color: #ff1800a3">Teacher
                                                Name</p>
                                            <div>
                                                <span class="bi bi-star check-star"></span>
                                                <span class="bi bi-star check-star"></span>
                                                <span class="bi bi-star check-star"></span>
                                                <span class="bi bi-star check-star"></span>
                                                <span class="bi bi-star"></span>
                                            </div>
                                            <p class="card-text"
                                               style="font-size: 16px; text-align: left;">(100)  people are studying</p>
                                            <a th:href="@{/viewCourseDetailDOC/{id}(id=${course.id})}" style="position: absolute; right: 110px;bottom: 5px"
                                               class="btn btn-outline-success btn-sm">Read More</a>

                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </section>

                    <div class="row g-5">
                        <!--                        <div class="col-lg-4 " style="padding-right :0 !important; " th:each="course: ${courses}">-->
                        <!--                            <div class="post-entry-1">-->
                        <!--                                <a href="single-post.html"><img-->
                        <!--                                        th:src="@{/front-end/assets/images/post-landscape-2.jpg}" alt=""-->
                        <!--                                        class="img-fluid"></a>-->
                        <!--                                <div class="post-meta"><span class="date">Sport</span> <span-->
                        <!--                                        class="mx-1">&bullet;</span> <span>Jul 5th '22</span></div>-->
                        <!--                                <h2><a href="single-post.html" th:text="${course.title}"></a></h2>-->
                        <!--                            </div>-->
                        <!--                        </div>-->
                        <div class=" col-lg-4" th:each="course: ${courses}">
                            <!--                            <div class="card">-->
                            <!--                                <div class="card-body">-->
                            <!--                                    <h5 class="card-title" th:text="${course.courseName}">vsvgd</h5>-->
                            <!--                                    <div class="post-entry-1">-->
                            <!--                                        <a href="single-post.html"><img-->
                            <!--                                                th:src="@{/front-end/assets/images/post-landscape-2.jpg}" alt=""-->
                            <!--                                                class="img-fluid"></a>-->
                            <!--                                        <div class="post-meta"><span class="date" th:text="${course.title}">Sport</span>-->

                            <!--                                        </div>-->
                            <!--                                        <p class="card-text" th:text="${course.introduce}">-->
                            <!--                                        </p>-->
                            <!--                                        <a th:href="@{/viewDetailDOC}" class="card-link">Watch More</a>-->

                            <!--                                    </div>-->
                            <!--                                </div>-->
                            <!--                            </div>-->
                            <!--                            <div class="col-lg-4 border-start custom-border">-->
                            <!--                                <div class="post-entry-1">-->
                            <!--                                    <a href="single-post.html"><img th:src="@{/front-end/assets/images/post-landscape-3.jpg}" alt="" class="img-fluid"></a>-->
                            <!--                                    <div class="post-meta"><span class="date">Business</span> <span class="mx-1">&bullet;</span> <span>Jul 5th '22</span></div>-->
                            <!--                                    <h2><a href="single-post.html" th:text="${student.gender}"></a></h2>-->
                            <!--                                </div>-->

                            <!--                            </div>-->

                            <!-- Trending Section -->
                        </div>
                    </div>

                </div> <!-- End .row -->
            </div>

            <div class="container-counter" >
                <div class="d-flex align-items-center author" style="margin-bottom: 10px">
                    <div class="photo"><img th:src="@{/front-end/assets/images/achievement.png}" alt=""
                                            class="img-fluid"></div>
                    <div class="name">
                        <h3 class="m-0 p-0">OUR ACHIEVMENT</h3>
                    </div>

                </div>

                <div class="row">

                    <div class="four col-md-3">
                        <div class="counter-box colored">
                            <i class="fa fa-thumbs-o-up"></i>
                            <span class="counter">2147</span>
                            <p>Student Studying</p>
                        </div>
                    </div>
                    <div class="four col-md-3">
                        <div class="counter-box">
                            <i class="fa fa-group"></i>
                            <span class="counter">3275</span>
                            <p>Student Has Finished</p>
                        </div>
                    </div>
                    <div class="four col-md-3">
                        <div class="counter-box">
                            <i class="fa  fa-shopping-cart"></i>
                            <span class="counter">289</span>
                            <p>Company Coperation Jop</p>
                        </div>
                    </div>
                    <div class="four col-md-3">
                        <div class="counter-box">
                            <i class="fa  fa-user"></i>
                            <span class="counter">15</span>
                            <p>Countries Joined</p>
                        </div>
                    </div>
                </div>
            </div>
    </section> <!-- End Post Grid Section -->

    <!--    &lt;!&ndash; ======= Culture Category Section ======= &ndash;&gt;-->
    <!--    <section class="category-section">-->
    <!--        <div class="container" data-aos="fade-up">-->

    <!--            <div class="section-header d-flex justify-content-between align-items-center mb-5">-->
    <!--                <h2>Culture</h2>-->
    <!--                <div><a href="category.html" class="more">See All Culture</a></div>-->
    <!--            </div>-->

    <!--            <div class="row">-->
    <!--                <div class="col-md-9">-->

    <!--                    <div class="d-lg-flex post-entry-2">-->
    <!--                        <a href="single-post.html" class="me-4 thumbnail mb-4 mb-lg-0 d-inline-block">-->
    <!--                            <img th:src="@{/front-end/assets/images/post-landscape-6.jpg}" alt="" class="img-fluid">-->
    <!--                        </a>-->
    <!--                        <div>-->
    <!--                            <div class="post-meta"><span class="date">Culture</span> <span class="mx-1">&bullet;</span>-->
    <!--                                <span>Jul 5th '22</span></div>-->
    <!--                            <h3><a href="single-post.html">What is the son of Football Coach John Gruden, Deuce Gruden-->
    <!--                                doing Now?</a></h3>-->
    <!--                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio placeat-->
    <!--                                exercitationem magni voluptates dolore. Tenetur fugiat voluptates quas, nobis error-->
    <!--                                deserunt aliquam temporibus sapiente, laudantium dolorum itaque libero eos deleniti?</p>-->
    <!--                            <div class="d-flex align-items-center author">-->
    <!--                                <div class="photo"><img th:src="@{/front-end/assets/images/person-2.jpg}" alt=""-->
    <!--                                                        class="img-fluid"></div>-->
    <!--                                <div class="name">-->
    <!--                                    <h3 class="m-0 p-0">Wade Warren</h3>-->
    <!--                                </div>-->
    <!--                            </div>-->
    <!--                        </div>-->
    <!--                    </div>-->

    <!--                    <div class="row">-->
    <!--                        <div class="col-lg-4">-->
    <!--                            <div class="post-entry-1 border-bottom">-->
    <!--                                <a href="single-post.html"><img-->
    <!--                                        th:src="@{/front-end/assets/images/post-landscape-1.jpg}" alt=""-->
    <!--                                        class="img-fluid"></a>-->
    <!--                                <div class="post-meta"><span class="date">Culture</span> <span-->
    <!--                                        class="mx-1">&bullet;</span> <span>Jul 5th '22</span></div>-->
    <!--                                <h2 class="mb-2"><a href="single-post.html">11 Work From Home Part-Time Jobs You Can Do-->
    <!--                                    Now</a></h2>-->
    <!--                                <span class="author mb-3 d-block">Jenny Wilson</span>-->
    <!--                                <p class="mb-4 d-block">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vero-->
    <!--                                    temporibus repudiandae, inventore pariatur numquam cumque possimus</p>-->
    <!--                            </div>-->

    <!--                            <div class="post-entry-1">-->
    <!--                                <div class="post-meta"><span class="date">Culture</span> <span-->
    <!--                                        class="mx-1">&bullet;</span> <span>Jul 5th '22</span></div>-->
    <!--                                <h2 class="mb-2"><a href="single-post.html">5 Great Startup Tips for Female Founders</a>-->
    <!--                                </h2>-->
    <!--                                <span class="author mb-3 d-block">Jenny Wilson</span>-->
    <!--                            </div>-->
    <!--                        </div>-->
    <!--                        <div class="col-lg-8">-->
    <!--                            <div class="post-entry-1">-->
    <!--                                <a href="single-post.html"><img-->
    <!--                                        th:src="@{/front-end/assets/images/post-landscape-2.jpg}" alt=""-->
    <!--                                        class="img-fluid"></a>-->
    <!--                                <div class="post-meta"><span class="date">Culture</span> <span-->
    <!--                                        class="mx-1">&bullet;</span> <span>Jul 5th '22</span></div>-->
    <!--                                <h2 class="mb-2"><a href="single-post.html">How to Avoid Distraction and Stay Focused-->
    <!--                                    During Video Calls?</a></h2>-->
    <!--                                <span class="author mb-3 d-block">Jenny Wilson</span>-->
    <!--                                <p class="mb-4 d-block">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vero-->
    <!--                                    temporibus repudiandae, inventore pariatur numquam cumque possimus</p>-->
    <!--                            </div>-->
    <!--                        </div>-->
    <!--                    </div>-->
    <!--                </div>-->

    <!--                <div class="col-md-3">-->
    <!--                    <div class="post-entry-1 border-bottom">-->
    <!--                        <div class="post-meta"><span class="date">Culture</span> <span class="mx-1">&bullet;</span>-->
    <!--                            <span>Jul 5th '22</span></div>-->
    <!--                        <h2 class="mb-2"><a href="single-post.html">How to Avoid Distraction and Stay Focused During-->
    <!--                            Video Calls?</a></h2>-->
    <!--                        <span class="author mb-3 d-block">Jenny Wilson</span>-->
    <!--                    </div>-->

    <!--                    <div class="post-entry-1 border-bottom">-->
    <!--                        <div class="post-meta"><span class="date">Culture</span> <span class="mx-1">&bullet;</span>-->
    <!--                            <span>Jul 5th '22</span></div>-->
    <!--                        <h2 class="mb-2"><a href="single-post.html">17 Pictures of Medium Length Hair in Layers That-->
    <!--                            Will Inspire Your New Haircut</a></h2>-->
    <!--                        <span class="author mb-3 d-block">Jenny Wilson</span>-->
    <!--                    </div>-->

    <!--                    <div class="post-entry-1 border-bottom">-->
    <!--                        <div class="post-meta"><span class="date">Culture</span> <span class="mx-1">&bullet;</span>-->
    <!--                            <span>Jul 5th '22</span></div>-->
    <!--                        <h2 class="mb-2"><a href="single-post.html">9 Half-up/half-down Hairstyles for Long and Medium-->
    <!--                            Hair</a></h2>-->
    <!--                        <span class="author mb-3 d-block">Jenny Wilson</span>-->
    <!--                    </div>-->

    <!--                    <div class="post-entry-1 border-bottom">-->
    <!--                        <div class="post-meta"><span class="date">Culture</span> <span class="mx-1">&bullet;</span>-->
    <!--                            <span>Jul 5th '22</span></div>-->
    <!--                        <h2 class="mb-2"><a href="single-post.html">Life Insurance And Pregnancy: A Working Mom’s-->
    <!--                            Guide</a></h2>-->
    <!--                        <span class="author mb-3 d-block">Jenny Wilson</span>-->
    <!--                    </div>-->

    <!--                    <div class="post-entry-1 border-bottom">-->
    <!--                        <div class="post-meta"><span class="date">Culture</span> <span class="mx-1">&bullet;</span>-->
    <!--                            <span>Jul 5th '22</span></div>-->
    <!--                        <h2 class="mb-2"><a href="single-post.html">The Best Homemade Masks for Face (keep the Pimples-->
    <!--                            Away)</a></h2>-->
    <!--                        <span class="author mb-3 d-block">Jenny Wilson</span>-->
    <!--                    </div>-->

    <!--                    <div class="post-entry-1 border-bottom">-->
    <!--                        <div class="post-meta"><span class="date">Culture</span> <span class="mx-1">&bullet;</span>-->
    <!--                            <span>Jul 5th '22</span></div>-->
    <!--                        <h2 class="mb-2"><a href="single-post.html">10 Life-Changing Hacks Every Working Mom Should-->
    <!--                            Know</a></h2>-->
    <!--                        <span class="author mb-3 d-block">Jenny Wilson</span>-->
    <!--                    </div>-->
    <!--                </div>-->
    <!--            </div>-->
    <!--        </div>-->
    <!--    </section>&lt;!&ndash; End Culture Category Section &ndash;&gt;-->

    <!--THIS HTML IS NOT REQUIRED FOR CIRCULAR TEXT-->



</section>


<a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>


</body>
</html>