<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout-frontend/frontend-layout}">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>ZenBlog Bootstrap Template - Index</title>
  <meta content="" name="description">
  <meta content="" name="keywords">
  <style>

  </style>
</head>
<body class="inner_page login">
<section layout:fragment="content">


  <!-- ======= Post Grid Section ======= -->
  <section id="posts" class="posts">
    <div class="container" data-aos="fade-up">
      <div class="row g-5">
        <div class="col-lg-3" style="padding-right:0px !important;">
          <div class="post-entry-1 lg">
            <a href="single-post.html"><img th:src="@{/front-end/assets/images/post-landscape-1.jpg}" alt=""
                                            class="img-fluid"></a>
            <div class="post-meta">
              <span>Student</span></div>
            <h4><a href="single-post.html">Course</a></h4>
            <h4><a th:href="@{/updateProfile}">Change Information</a></h4>

          </div>

        </div>

        <div class="col-lg-9">
          <div class="row g-5">
            <!--                        <div class="col-lg-4 " style="padding-right :0 !important; " th:each="course: ${courses}">-->
            <!--                            <div class="post-entry-1">-->
            <!--                                <a href="single-post.html"><img-->
            <!--                                        th:src="@{/front-end/assets/images/post-landscape-2.jpg}" alt=""-->
            <!--                                        class="img-fluid"></a>-->
            <!--                                <div class="post-meta"><span class="date">Sport</span> <span-->
            <!--                                        class="mx-1">&bullet;</span> <span>Jul 5th '22</span></div>-->
            <!--                                <h2><a href="single-post.html" th:text="${course.title}"></a></h2>-->
            <!--                            </div>-->
            <!--                        </div>-->
            <div class=" col-lg-4" th:each="course: ${courses}">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title" th:text="${course.courseName}"></h5>
                  <div class="post-entry-1">
                    <a href="single-post.html"><img
                            th:src="@{/front-end/assets/images/post-landscape-2.jpg}" alt=""
                            class="img-fluid"></a>
                    <div class="post-meta"><span class="date" th:text="${course.title}">Sport</span>

                    </div>
                    <p class="card-text" th:text="${course.introduce}">
                    </p>
                    <a th:href="@{/}" class="card-link">Watch More</a>

                  </div>
                </div>
              </div>
              <!--                            <div class="col-lg-4 border-start custom-border">-->
              <!--                                <div class="post-entry-1">-->
              <!--                                    <a href="single-post.html"><img th:src="@{/front-end/assets/images/post-landscape-3.jpg}" alt="" class="img-fluid"></a>-->
              <!--                                    <div class="post-meta"><span class="date">Business</span> <span class="mx-1">&bullet;</span> <span>Jul 5th '22</span></div>-->
              <!--                                    <h2><a href="single-post.html" th:text="${student.gender}"></a></h2>-->
              <!--                                </div>-->

              <!--                            </div>-->

              <!-- Trending Section -->
            </div>
          </div>

        </div> <!-- End .row -->
      </div>
    </div>
  </section>

</section>

</body>
</html>